.App{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.taskCreate{
  width: 450px;
}
.taskUpdate{
  width: 100%;
}

.taskForm{
  display: flex;
  flex-direction: column;
}

.label{
  margin: 10px 0;
}

.taskInput{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.button{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid green;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

.taskUpdateButton{
  border: 1px solid darkmagenta;
  background-color: darkmagenta;
}

.taskShow{
  border: 1px solid green;
  border-radius: 30px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.taskList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.taskTitle{
  margin-bottom: 5px;
}

.deleteButton{
  padding: 5px;
  font-size: 15px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-right: 10px;
}

.updateButton{
  padding: 5px;
  font-size: 15px;
  width: 100px;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: white;
  margin-right: 10px;
}